*{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


body {
    margin: 0;
    background-color: black;

  }
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }

/* area tienda */
.venta{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  margin-left: 34px;
}
.card{
  text-align: center;
  border: 1px solid;
  width: 70%;
  padding: 50px;
  border-radius: 5px;
  margin: 0 auto;
  font-size: 50px;
  margin-bottom: 15px;
  background-color: #fff;
}
.logo{
  width: 50%;
}
::-webkit-scrollbar {
  display: none;
}
/* encabezado */
.marca {
  text-align: left;
  color: white;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  top: 58px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.marca1__nombre {
  font-size: 50px;
  margin-left: 10px;
}

.btn-comprar {
  background-color: #007aff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  font-size: 40px;
  cursor: pointer;
  margin-right: 10px;
  margin: 35px;
}


/* menu */


.navbar {
  background-color: #333333;
  display: flex;
  justify-content: center;
  position: relative;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  left: 0;
  padding: 20px;
}
.navbar-list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.navbar-item {
  color: white;
  margin: 0 20px;
}
.navbar-link {
  text-decoration: none;
  color: white;
}
.toggle-button {
  display: none;
  cursor: pointer;
  padding: 10px;
}
.bar {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
}


/* propaganda */
.iphone{
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20%;
}
.propaganda{
  width: 80%;
  margin: 0 auto;
}
.propaganda2{
  width: 100%;
}
#currentImage {
  transition: opacity 0.5s linear;
}
.cambioColor {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1vh;
}
.grid-color{
  display: flex;
  flex-direction: column-reverse;
}
.cambioColor button {
  background-color: transparent;
  border: none;
  color: rgba(156, 154, 154, 0.705);
  font-size: 40px;
  margin-right: 10px;
  outline: none;
  text-transform: uppercase;
}

.cambioColor button:hover {
  cursor: pointer;
  color: rgba(238, 238, 238, 0.8);
}

.cambioColor button.active {
  color: rgb(248, 241, 241);
}
.info{
  color: #817c7c;
  font-size: 40px;
  margin: 0px 100px;

}
.info1{
  color: #d1cbcb;
  font-size: 100px;
  margin: 0px 30px;
  text-align: center;

}
.info3{
  color: #817c7c;
  font-size: 40px;
  margin: 25px 100px;

}
.grid{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.grid2{
  display: flex;
  flex-direction: column-reverse;

}
.propaganda3{
  width: 90%;
  margin: 0 auto;
}
.propaganda4{
  width: 50%;
  margin: 0 auto;
}

.dinamic{
  margin-top: 10%;
  width: 50%;
  margin: 50px auto;
}
.pantalla{
  color: #fff;
  text-align: center;
  font-size: 60px;
}
.video{
  width: 90%;
  margin: 0 auto;
}

/* TIENDA */
.entrada1 {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s ease-in-out;
}

.entrada1.visible {
  opacity: 1;
  transform: translateY(0);
  font-size: 130px;
  color: white;
  text-align: center;
}

.entrada2 {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s ease-in-out;
}

.entrada2.visible {
  opacity: 1;
  transform: translateY(0);
  font-size: 130px;
  color: white;
  text-align: center;
}
  /*catalogo*/
  #catalog{
    display: grid;
    grid-template-columns: 1fr 1fr ;  
    gap: 15px;
    width: 90%;
    margin: 0 auto;
  }
.product-card{
  background-color: #fff;
  text-align: center;
  border-radius: 20px;
}
.product-card img{
  margin: 15px auto;
  display: block;
  width: 90%;
  border-radius: 20px;
}
@media screen and (min-width: 1000px) {
  /* encabezado */
  .marca1__nombre{
    font-size: 20px;
  }
  .btn-comprar{
    font-size: 18px;
    margin: 10px;
  }
  .venta{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    margin: 0px 30px;
  }
  .card{
    width: 60%;
    font-size: 30px;
  }
  .logo{
    width: 90%;
  }
  .iphone{
    margin-top: 10%;
  }
  .propaganda{
    width: 40%;
  }
  .propagand1{
    width: 20%;
  }


  .propaganda2{
    width: 100%;
  }
  .grid-color{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 400px;
  }
  .cambioColor{
    margin-top: 300px;

  }
  .entrada1.visible{
    font-size: 90px;
  }
  .entrada2.visible{
    font-size: 90px;
  }
  .info1{
    margin: 0 auto;
  }
  .grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 15px;
  }
  .propaganda4{
    margin: 0 auto;
    margin: 0 300px;
  }
  .grid2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 15px;
  }
  #catalog{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
  .product-card img{
    width: 60%;
  }
}
@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
  }
  .navbar-item {
    margin: 10px 0;
  }
  .toggle-button {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
  }
  .navbar-list {
    display: none;
  }
  .navbar-list.active {
    display: flex;
  }
}
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    width: 100%;
  }


