*{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


body {
    margin: 0;
    background-color: black !important;

  }
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }

/* area tienda */
.venta{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  margin-left: 34px;
}
.card{
  text-align: center;
  border: 1px solid;
  width: 70%;
  padding: 50px;
  border-radius: 5px;
  margin: 0 auto;
  font-size: 50px;
  margin-bottom: 15px;
  background-color: #fff;
}
.logo{
  width: 50%;
}
::-webkit-scrollbar {
  display: none;
}
/* encabezado */

.marca{
  display: flex;
  flex-direction: row;
  color: white;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  top: 55px;
  justify-content: space-between;
}

.marca1__nombre {
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 12px;
}
.btn-comprar {
  background-color: #007aff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  font-size: 15px;
  cursor: pointer;
  margin-right: 10px;
  margin: 35px;
}
.carritobtn {
  background-color: transparent;
  margin-top: 10px;
  border: none;
  position: relative;
}

.carrito {
  width: 25px;
}

#cart-count {
  position: absolute;
  top: 1px;
  right: 1px;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}
/* navbar boostrap */
.navbar-nav .nav-link {
  color: #fff;
}
@media (min-width: 992px) {
  .navbar .navbar-nav .nav-link {
    padding: 0.5rem 1rem;
  }
  .navbar .navbar-nav {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}


/* propaganda */
.iphone{
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20%;
}
.propaganda{
  width: 80%;
  margin: 0 auto;
}
.propaganda2{
  width: 50%;
  margin: 0 auto;
}
#currentImage {
  transition: opacity 0.5s linear;
}
.propagand1{
  width: 40%;
}
.cambioColor {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1vh;
  margin: 0 auto;
}
.grid-color{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  margin-top: -100px;
}
.cambioColor button {
  background-color: transparent;
  border: none;
  color: rgba(156, 154, 154, 0.705);
  font-size: 20px;
  margin-right: 10px;
  outline: none;
  text-transform: uppercase;

}

.cambioColor button:hover {
  cursor: pointer;
  color: rgba(238, 238, 238, 0.8);
}

.cambioColor button.active {
  color: rgb(248, 241, 241);
}
.info{
  color: #817c7c;
  font-size: 20px;
  margin: 0px 30px;

}
.info1{
  color: #d1cbcb;
  font-size: 30px;
  margin: -10px 30px;
  text-align: center;

}
.info3{
  color: #817c7c;
  font-size: 20px;
  margin: 25px 20px;

}
.grid{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.grid2{
  display: flex;
  flex-direction: column-reverse;

}
.propaganda3{
  width: 90%;
  margin: 0 auto;
}
.propaganda4{
  width: 30%;
  margin: 0 auto;
}
.prop{
  width: 100%;
}

.pantalla{
  color: #fff;
  text-align: center;
  font-size: 30px;
}


/* TIENDA */
.entrada1 {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s ease-in-out;
}

.entrada1.visible {
  opacity: 1;
  transform: translateY(0);
  font-size: 40px;
  color: rgb(255, 252, 252);
  text-align: center;
}

.entrada2 {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s ease-in-out;
}

.entrada2.visible {
  opacity: 1;
  transform: translateY(0);
  font-size: 40px;
  color: rgb(255, 255, 255);
  text-align: center;
}
  /*catalogo*/
  #new-products{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 15px;
    width: 90%;
    margin: 0 auto;
    font-size: large;
  }
  #used-products{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 15px;
    width: 90%;
    margin: 0 auto;
    font-size: 15px;
  }
.product-card{
  background-color: #ffffff;
  text-align: center;
  border-radius: 20px;
}
.product-card img{
  margin: 15px auto;
  display: block;
  width: 170px;
  height: 250px;
  border-radius: 20px;
}
@media screen and (min-width: 1000px) {
  /* encabezado */
  .marca {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .marca1__nombre{
    font-size: 25px;
  }
  .carrito{
    width: 40px;
    margin-right: 15px;
  }
  .btn-comprar{
    font-size: 18px;
    margin: 10px;
  }
  .venta{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    margin: 0px 30px;
  }
  .card{
    width: 60%;
    font-size: 30px;
  }
  .logo{
    width: 90%;
  }
  .iphone{
    margin-top: 10%;
  }
  .propaganda{
    width: 40%;
  }
  .propagand1{
    width: 20%;
  }


  .propaganda2{
    width: 100%;
  }
  .grid-color{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 400px;
  }
  .cambioColor{
    margin-top: 300px;
  }
  .cambioColor button{
    font-size: 45px;
  }
  .entrada1.visible{
    font-size: 90px;
  }
  .entrada2.visible{
    font-size: 90px;
  }
  .info{
    margin: 0px 300px;
    font-size: 30px;
  }
  .info1{
    margin: 0 auto;
    font-size: 50px;
  }
  .grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 10px;
  }
  .pantalla{
    font-size: 50px;
  }
  .info3{
    font-size: 30px;
    margin: 200px;
  }
  .propaganda4{
    margin: 0 auto;
    margin: 0 200px;
    width: 40%;
  }
  .grid2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 15px;
  }
  #new-products{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
  #used-products{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
  .product-card img{
    width: 210px;
    height: 290px;
  }
}

  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    width: 100%;
  }


/* Estilos para el carrito en modo celular */
@media only screen and (max-width: 600px) {
  #cart-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333333;
    z-index: 9999;
    padding: 20px;
    color: #b8b6b6;
  }

  #cart-container.show {
    display: block;
  }

  #hide-cart-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #fff;
  }

  #cart-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .product-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .product-item span {
    flex-basis: 50%;
  }

  #cart-total {
    text-align: right;
    margin-top: 20px;
  }

  .cart-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }

  .cart-buttons {
    background-color: #ff0000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }

  .close-button {
    position: absolute;
    right: 5%;
    top: 10px;
    padding: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;
  }

  .close-button1 {
    padding: 5px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #da9393;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;
  }

  /* Icono del bot贸n */
  .close-button::before {
    content: "X";
  }

  label {
    color: white;
  }

  .carga {
    text-align: center;
    color: #fff;
  }
}


label {
  color:white;
}

.carga {
  text-align: center;
  color: #fff;
}



#cart-container {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #212529;
  z-index: 9999;
  padding: 20px;
  box-shadow: -2px 0 4px rgba(0,0,0,.1);
  color: #b8b6b6;
}
#cart-content.hidden {
  display: none;
}

#cart-container.show {
  display: block;
}

#hide-cart-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

#cart-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.product-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.product-item span {
  flex-basis: 50%;
}

#cart-total {
  text-align: right;
  margin-top: 20px;
}


.cart-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}
.cart-buttons {
  background-color: #ff0000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.close-button{


  position: absolute;

  right: 5%;
  bottom: 93%;
}
.close-button {
  padding: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s;
}

.close-button:hover {
  color: #ff1900;
}

.close-button:focus {
  outline: none;
}
.close-button1 {
  padding: 5px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #da9393;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s;
}

.close-button1:hover {
  color: #f11800;
}

.close-button1:focus {
  outline: none;
}

/* Icono del bot贸n */
.close-button::before {
  content: "X";
}
label{
  color:white;
}
.carga{
  text-align: center;
  color: #fff;
}
/* mediaqueries del carrito */
@media screen and (min-width: 768px) {
  #cart-container {
    width: 30%;
  }
}

/*formulario de carga de productos*/
.form-product {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  background-color: #807d7d;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-product label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-product input,
.form-product select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.form-product button {
  display: block;
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.form-product button:hover {
  background-color: #3e8e41;
}

.cart-container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
  color: #3e8e41;
  text-align: center;
}


/* carrousel de imagenes */
.product-gallery {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  z-index: 9999;
  border-radius: 20px !important;
}


.product-gallery .carousel-item {
  width: 100%;
}

.product-gallery .carousel-item img {
  width: 60%;
  object-fit: cover;
  border-radius: 20px !important;
}

@media only screen and (max-width: 768px) {
  .product-gallery {
    width: 80%;
  }
}
/* Posicionamiento del bot贸n de cierre */
.btn-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  padding: 1rem;
}

/* Estilo del bot贸n de cierre */
.btn-close {
  color: #212529;
  text-shadow: none;
  opacity: 1;
  background-color: transparent;
  border: 0;
  font-size: 2rem;
}

.btn-close:hover {
  color: #ff1100 !important;
  text-decoration: none;
}


/* definiendo posicion de swal alert */
.my-swal {
  z-index: 999999999999 !important;
}

/* formulario plan canje */

.container{
  background-color: #333;
  border-radius: 15px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  margin: 0 auto;
  max-width: 600px;
  background-color: #ffffffb2;
  padding: 20px;
  border-radius: 10px;
}

.canje {
  text-align: center;
  color: white;
  font-size: 50px;
}

label {
  color: white;
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.2rem;
}

select, input[type="text"] {
  background-color: #222;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  font-size: 1.1rem;
  margin-bottom: 15px;
  border-radius: 5px;
}

select:focus, input[type="text"]:focus {
  outline: none;
}
  

.cotizar {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 15px 150px;
  transition: background-color 0.5s ease-in-out;
}

.cotizar:hover {
  background-color: #387a3a;
  color: rgb(180, 179, 179);
}



.progress{
  text-align: center;
}
progress[value] {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 80%;
  background-color: #ddd;
}

progress[value]::-webkit-progress-bar {
  background-color: #ddd;
}

progress[value]::-webkit-progress-value {
  background-color: #4CAF50;
}
